.rangespinner input[type="text"] {
    border: 1px solid #ccc;
    color: #fb730d;
    float: left;
    font-size: 14px;
    height: 35px;
    text-align: center;
    /*width: 80px;*/
	border-radius:2px !important;
}

.rangespinner input[type="text"]:focus{
    outline : none;
}

.rangespinner button[type="button"] {
    background-color: #ededed;
    border: 1px solid #ccc;
    color: #aaa;
    cursor: pointer;
    float: left;
    height: 35px;
    margin: 0;
    padding: 1px;
    width: 30px;
}

.rangespinner button[type="button"]:hover {
	background-color: #C5C5C5;
	color: #fb730d;
}

.rangespinner input:focus,
.rangespinner button:focus {
	outline: none;
}
.switchdemoBasicUsage .inset {
  padding-left: 25px;
  padding-top: 25px;
}
md-switch.wlabel .md-bar::before {
  content: "off";
  position: absolute;
  right: 0;
  font-size: 9px;
  line-height: 13px;
  padding-right: 3px;
}
md-switch.wlabel.md-checked .md-bar::before {
  content: "on";
  left: 0;
  padding-left: 3px;
}

md-switch {
margin: 3px 0}
 fieldset {
  border: 2px solid black; 
  border-radius: 10px;  
  box-sizing: border-box; 
  grid-area: 1 / 1; 
  padding: 20px; 
  width: inherit; 
} 



