<p style="padding-top: 2%;padding-left: 2%;padding-right: 1%;" class="ng-scope">This tool is used to simulate user registrations that
    originate from the CovidCare app.
    Click <b>Register user</b> to send data for a new CovidCare user to the FHIR server.</p>
<a ui-sref="subjects.add" style="margin-top:15px;margin-bottom:15px" class="btn btn-ark">Register user</a>
<a   ng-click="vm.refresh()" style="margin-top:15px;margin-bottom:15px;cursor: pointer" class="btn btn-ark" >Refresh table</a>


<table  class="table subjects-table table-striped">
    <tr style="background: rgb(255 255 255);">
        <th>CovidCare ID </th>
        <th>Referral clinic</th>
        <th>Registered</th>
        <th>Name </th>
        <th>Gender</th>
        <th>Age</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Postcode</th>
        <!-- <th class="delete-column"></th> -->
    </tr>

    <tr
        ng-repeat="subject in vm.subjects.slice(((vm.currentPage-1)*vm.itemsPerPage), ((vm.currentPage)*vm.itemsPerPage))">
        <td><a ui-sref="subjects.edit({refid:subject.covidOrganization.referralClinicID,id: subject.covidCareId })">{{subject.covidCareId}}</a></td>
        <td>{{subject.covidOrganization.referralClinicName}}</td>
        <td>{{subject.registerdDate | date: 'dd/MM/yyyy':'AEDT'}}</td>
        <td>{{subject.name}}</td>
        <td>{{subject.gender}}</td>
        <td>{{subject.age}}</td>
        <td>{{subject.email}}</td>
        <td>{{subject.mobile}}</td>
        <td>{{subject.postcode}}</td>
    </tr>
</table>
<table>
    <tr>
        <td>
            <pagination total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.pageChanged()"
                class="pagination-sm" items-per-page="vm.itemsPerPage"></pagination>
            <div ui-view class="view-side-form" style="text-align: center; padding-bottom: 24px;">
                View <select ng-model="vm.viewby" ng-change="vm.setItemsPerPage(vm.viewby)">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                </select> records at a time.
            </div>
            <!--<div style="padding-bottom: 24px;" >
                <a   ng-click="vm.refresh()" style="cursor: pointer;">Refresh</a>
            </div>!-->
        </td>
    </tr>
</table>